@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 15% 25%;
    --card: 60 50% 95%;
    --card-foreground: 20 15% 25%;
    --popover: 60 50% 95%;
    --popover-foreground: 20 15% 25%;
    --primary: 340 26% 71%;
    --primary-foreground: 340 10% 20%;
    --secondary: 60 30% 85%;
    --secondary-foreground: 20 15% 25%;
    --muted: 60 30% 88%;
    --muted-foreground: 20 10% 45%;
    --accent: 50 25% 65%;
    --accent-foreground: 50 15% 20%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 15% 80%;
    --input: 60 40% 93%;
    --ring: 340 26% 65%;
    --radius: 0.8rem;
    
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 20 14% 9%;
    --foreground: 60 30% 92%;
    --card: 20 14% 12%;
    --card-foreground: 60 30% 92%;
    --popover: 20 14% 9%;
    --popover-foreground: 60 30% 92%;
    --primary: 340 26% 61%;
    --primary-foreground: 340 10% 10%;
    --secondary: 60 15% 18%;
    --secondary-foreground: 60 30% 92%;
    --muted: 60 15% 22%;
    --muted-foreground: 60 10% 65%;
    --accent: 50 25% 55%;
    --accent-foreground: 50 15% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 15% 30%;
    --input: 60 20% 23%;
    --ring: 340 26% 61%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
